<h1>Activation de votre compte</p>
<p>Bonjour {{username}}, merci d'avoir créé un compte sur <strong>Formula One Prediction</strong>, veuillez cliquer sur le lien ci-dessous pour l'activer</p>
<p><a href="{{ absolute_url(path('activation', {'token': token})) }}">Activer mon compte</a></p>
