{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe
{% endblock %}


{% block body %}
  <h2>Modifier mon mot de passe</h2>

  {{ form_start(form) }}

  {{ form_widget(form) }}

  <input type="submit" value="Valider" class="btn btn-primary">
  {{ form_end(form) }}
{% endblock %}
