{% extends 'base.html.twig' %}

{% block title %}Votre pronostic. F1 prediction{% endblock %}

{% block body %}
    <h1>Votre pronostic</h1>

{{ include('prediction/_form.html.twig') }}

    <a href="{{ path('home') }}">Retour à l'acceuil</a>
{% endblock %}
