{% extends 'base.html.twig' %}

{% block title %}New Prediction{% endblock %}

{% block body %}
    <h1>Create new Prediction</h1>

    {{ include('prediction/_form.html.twig') }}

    <a href="{{ path('prediction_show', {id: app.user.id}) }}">back to list</a>
{% endblock %}
